html {
  box-sizing: border-box;
  background-color: #eee9de;
  font-family: "Lato", sans-serif;
  line-height: 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

div {
  display: inline-block;
  max-width: 25em;
  padding: 2em;
}

img {
  display: block;
  max-width: 25em;
}

h2 {
  display: block;
  margin-top: 1.5rem;
  padding: .4em .75em .5em;
}

p {
  display: inline-block;
  margin-top: 1.5rem;
}

a {
  border: 3px solid;
  border-radius: .4em;
  color: #333;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  padding: .5em .75em;
  text-decoration: none;
}
