html {
  box-sizing: border-box;
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  line-height: 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.image {
  display: inline-block;
  margin-top: 1.5em;
  margin-bottom: 0;
  max-width: 25em;
  padding: 2em 1em 1em;
  vertical-align: middle;
}

div {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 1.5em;
  max-width: 25em;
  padding: 1em 1em 2em;
  vertical-align: middle;
}

img {
  display: block;
  max-width: 25em;
  width: 100%;
}

h2 {
  display: block;
  margin: 0;
  margin-bottom: 1.5rem;
}

p {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: left;
}

.btn {
  border: 3px solid #333;
  border-radius: .4em;
  color: #666;
  display: inline-block;
  font-size: 1rem;
  margin: 0;
  padding: .5em .75em;
  text-align: center;
  text-decoration: none;
}
